<nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    @for (item of dataBreadcrum; track $index) {
      <li class="inline-flex items-center">
        <svg *ngIf="$index !== 0" class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span (click)="$index === (dataBreadcrum.length - 1) ? null : goToPath(item.path)" [ngClass]="['inline-flex items-center text-sm font-medium text-gray-700 dark:text-gray-400', $index === (dataBreadcrum.length - 1) ? '' : 'hover:text-blue-600 dark:hover:text-white cursor-pointer' ]">
          {{item.title}}
        </span>
      </li>
    }
  </ol>
</nav>
