<at-card>
  <section [formGroup]="loginFormGroup">
    <ml-email-input [control]="'email'| getControl:loginFormGroup" ></ml-email-input>
    <ml-password-input [control]="'password'| getControl:loginFormGroup"></ml-password-input>
    <!-- <ml-option-group [options]="optionsUserType" [control]="'userType'| getControl:loginFormGroup"></ml-option-group> -->
  </section>
  <at-button fullWidth="full" [classesAditional]="'mb-2'" [disabled]="!loginFormGroup.valid" (click)="login()">Ingresar</at-button>
  <at-button [type]="'alternative'" fullWidth="full" [disabled]="!loginFormGroup.valid" (click)="goToReserva()">Reservar</at-button>
</at-card>
