.inter-text {
  @apply mx-4 text-gray-500
}

.background-gradient {
  background: linear-gradient(180deg, #1a56db 0%, rgba(196, 196, 196, 0.00) 100%), url('/assets/cover-airplane-login.jpg');
  background-size: auto, cover;
  background-position: top, center;
}
