<section class="text-center p-6">
  <at-label [size]="'4xl'" classesAditional="mb-4 font-extrabold leading-none tracking-tight text-4xl md:text-5xl lg:text-6xl dark:text-white">Bienvenido a Hoteleria</at-label>
  <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Aqui puedes hacer tus reservas online de nuestro catalogo de Hoteles.</p>
  <at-button [size]="'base'" (click)="goToLogin()">¿Te gustaría registrar hoteles?</at-button>

  <section [formGroup]="filterFormGroup" class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700 mt-12 grid grid-cols-1 gap-2 lg:grid-cols-1 xl:grid-cols-3" aria-label="Breadcrumb">
    <div class="flex items-center">
        <span class="mx-4 text-gray-500">desde</span>
        <div class="w-full">
          <at-input [type]="'date'" id="init-date" [control]="'initDate' | getControl:filterFormGroup" classesAditional="w-full"></at-input>
        </div>
        <span class="mx-4 text-gray-500">a</span>
        <div class="w-full">
          <at-input [type]="'date'" id="end-date" [control]="'endDate' | getControl:filterFormGroup"></at-input>
        </div>
    </div>
    <div class="flex items-center">
      <span class="mx-4 text-gray-500">con</span>
      <div class="w-full">
        <at-select [options]="allowPersonOption" [control]="'allowPerson' | getControl:filterFormGroup" [placeholder]="'Cantidad de personas'"></at-select>
      </div>
    </div>
    <div class="flex items-center">
      <span class="mx-4 text-gray-500">en</span>
      <div class="w-full">
        <at-select [options]="citiesOptions" [control]="'allowPerson' | getControl:filterFormGroup" [placeholder]="'Selecciona el lugar'"></at-select>
      </div>
    </div>
  </section>

  <section>

  </section>
</section>
