<section class="px-6 pt-6 pb-4 text-center">
  <at-label [size]="'4xl'" classesAditional="mb-4 font-extrabold leading-none tracking-tight text-4xl md:text-5xl lg:text-6xl dark:text-white">Bienvenido a Hoteleria</at-label>
      <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Aqui puedes hacer tus reservas online de nuestro catalogo de Hoteles.</p>
      <at-button [size]="'base'" (click)="goToLogin()">¿Te gustaría registrar hoteles?</at-button>
</section>
<router-outlet></router-outlet>
