/* You can add global styles to this file, and also import other style files */
@tailwind base;
:root {
  --primary: rebeccapurple;
  --secondary: cornflowerblue;
}
@tailwind components;
@tailwind utilities;

*,*:focus,*:hover{
  outline:none;
}


.error-message {
  @apply text-sm text-red-600 dark:text-red-500;
}

.grid-cols-auto-fit-xs {
  grid-template-columns: repeat(auto-fit,minmax(20rem, 0fr));
}




/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1c64f2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1c64f2;
  border-radius: 8px;
  border: 0px solid transparent;
}
