<section class="mb-4">
  <at-label [for]="'password'">Contraseña</at-label>
  <at-input id="password" [type]="'password'" [control]="control"></at-input>
  <!-- {{this.control.hasError('email')}} -->
  @if (hasRequiredError && control.touched) {
    <span class="mt-2 text-sm text-red-600 dark:text-red-500">La contraseña es requerida.</span>
  }
  @if (hasMinLengthError && !hasRequiredError) {
    <span class="mt-2 text-sm text-red-600 dark:text-red-500">la contraseña no puede ser menor a 8 digitos.</span>
  }
</section>
