<section class="mb-4">
  <at-label [for]="'password'" [classesAditional]="'mb-2'">Contraseña <span class="text-red-700 dark:text-red-600" *ngIf="isRequired">*</span></at-label>
  <at-input id="password" [type]="'password'" [control]="control"></at-input>

  @if (hasRequiredError && control.touched) {
    <span class="mt-2 error-message">Contraseña es requerida.</span>
  }
  @if (hasMinLengthError && !hasRequiredError) {
    <span class="mt-2 error-message">Contraseña no puede ser menor a 8 digitos.</span>
  }
</section>
